.app-header {
    background-color: #CCBCAD;
    height: 6em;
    border-radius: 10px;
    border: 1px solid #B7A7AE;
    margin-top: 1em;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 1em;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: #501E1F;
    font-size: 2em;
    margin: auto;
}

