.app-header {
    background-color: #CCBCAD;
    height: 6em;
    border-radius: 10px;
    border: 1px solid #B7A7AE;
    margin-top: 1em;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 1em;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: #501E1F;
    font-size: 2rem;
    margin: auto;
    z-index: 2;
    position: relative;
    font-weight: bolder;
}

.header {
    font-family: 'Pacifico', cursive;
    z-index: 1;
    position: absolute;
    font-size: 2.4rem;
    color: #f0eeec;
    font-weight: bolder;
    margin: auto;
}

